.story-item {
  display:inline-block;
  padding:30px;
  max-width:400px;
  color:black;
  margin:auto;
}

.story-item div.ui.piled.segment {
  padding:25px;
}

.story-item i.edit.link {
  float:right;
}

.story-container {
  margin:10px;
}

div.ui.grid {
  width:90%;
  margin:auto;
}

div.ui.piled.segment div.ui.comments a {
  margin-bottom:20px;
}
