.static {
	padding-top: 3rem;
}

h1 {
	font: 400 80px/0.8 'Great Vibes', Helvetica, sans-serif;
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
}

p {
	padding-top: 1.5rem;
	line-height: 1.5;
}

li {
	line-height: 2;
}
